<div class="container mt-3">
  
  <table class="table justify-content-cente">
    <thead>
      <tr>
        <th scope="col" class="col-7">Titre</th>
        <th scope="col" class="col-2">Catégorie</th>
        <th scope="col" class="col-2">Prix</th>
        <th scope="col" class="col-1">Supp.</th>
      </tr>
    </thead>
    <tbody>
      <!-- Ne pas oublier le .data !! -->
      <tr *ngFor="let livre of (livre$ | async).data | paginate: { itemsPerPage: 5, currentPage: p }">
        <th scope="col">{{livre.nom}}</th>
        <th scope="col">{{livre.categorie}}</th>
        <th scope="col">{{livre.prix}}</th>
        <th scope="col">
          <button
            class="btn btn-warning btn-sm"
            (click)="supprimerLivre(livre)"
          >
            X
          </button>
        </th>
      </tr>
    </tbody>
  </table>

  <div class="row justify-content-center mt-3">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

</div>