<nav class="navbar navbar-light bg-light">

    <ul class="nav nav-pills nav-justified">

      <li class="nav-item">
        <a class="nav-link" routerLink='accueil' routerLinkActive="active-link">Accueil</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" routerLink='liste' routerLinkActive="active-link">Liste</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" routerLink='ajouter' routerLinkActive="active-link">Ajouter</a>
      </li>

    </ul>

</nav>